.itemdetail{
    margin: 40px auto;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.itemdetail-header{
    color:  #333;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.itemdetail-img{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    filter: drop-shadow(8px 8px 4px);
}

.itemdetail-datos{
    font-size: 18px;
    color: #555;
    margin: 8px 0;
}

.talles {
    margin: 5px;
    border: none;
}

.talles.active {
    color: #007bff;
}
.itemdetail a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007bff;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.itemdetail a:hover {
    transform: scale(1.05);
}

.itemdetail footer {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .itemdetail {
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 5px;
    }    
}

@media screen and (max-width: 480px) {
    .itemdetail {
        width: 450px;
    }    
}

@media screen and (max-width: 320px) {
    .itemdetail {
        width: 450px;
    }    
}