.menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.menu a {
    text-decoration: none;
    display: flex;
}

.menu a:hover { 
    transform: scale(1.1, 1.1);
}

.menu-inicio {
    margin: 10px;
    width: 100px;
    color: white;
    font-size: 20px;
}

.menu-enlaces{
    display: flex;
    gap: 20px;
}

.menu-enlaces-categorias{
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 0px 0px 10px,
                 0px 0px 20px,
                 0px 0px 40px,
                 0px 0px 80px;
}

.menu-enlaces-categorias:hover{
    color: #007bff;
    background-color: rgb(0, 123, 255, 0.1);
}

.menu-enlaces-categorias.active {
    color: #007bff;
}

.CartWidget {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 750px;
    }

    .menu-inicio {
        width: 100px
    }

    .menu-enlaces-categorias {
        font-size: 10px;
    }
}