.footer {
    padding: 20px 0;
    text-align: center;
    background-color: black;
    border-top: 1px solid #ddd;
    color: white;
}

.footer p {
    margin: 10px 0;
}

.footer p:hover {
    color: #007bff;
}

.redes {
    margin: 0 10px;
    width: 30px;
    transition: transform 0.3s ease;
}

.redes:hover {
    transform: scale(1.1, 1.1);
}

.derechos {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}