*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(180, 174, 174);
}
h1{
  color: black;
  text-align: center;
  font-family: "Playfair Display", serif;
}
h2{
  color: white;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif; 
}
a {
  font-family: "Montserrat Alternates", sans-serif; 
}
p {
  font-family: "Open Sans", sans-serif;
}
.error{
  display: flex;
  justify-content: center;
}
.error-texto{
  display: flex;
  justify-content: center;
}
.error-volver{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
